body {
    background-image: url('../img/bg.svg');
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
    margin: 0;
    height: 100vh;
}

@font-face {
    font-family: 'FromtheWoods';
    src: url('../font/FromtheWoods-Regular.woff2') format('woff2');
    font-display: swap;
}


h1 {
    color: white;
    font-size: 9rem;
    font-weight: 900;
    font-family: 'FromtheWoods', sans-serif;
    margin: 0 0 0 10rem;
    text-align: right;
    text-shadow: 3px 3px 6px gray;
}

p {
    color: #333;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 7rem 0 0 10rem;
    text-align: right;
}

section.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 4rem;
    max-width: 90%;
    min-width: 400px;
}

section.main .main_text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

section.main .main__img {
    display: flex;
    flex-direction: column;
}